body{
    text-align: center;
    margin: 50px;
}

.image-holder img{
    height:auto
    max-width = 100%
}

.chooser button{
    padding: 10px 20px;
    margin:10px;
    font-size:10px;
    color:white;
    background-color: black;
    cursor:pointer;
}

